body, html {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #f3f4f7, #eef2f3);
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
